{% extends "layout.html"%}

{% block title %}
    Admin operácie
{% endblock title%}

{% block head %}
{% endblock head %}


{% block content %}

    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#operations").addClass("active");
		});
	</script>

    <style>
        .new-piece {
            max-width:400px;
            margin-left:-13px;
            margin-right:-13px;
        }

        @media only screen and (max-width: 900px) {
            .new-piece {
               max-width:1000px;
            }
        }
    </style>

    <div class="row py-5 px-4">
        <div class="col-md-10 col-lg-8 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">

                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Účastníkov</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Voľných</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Začiatok</small>
                        </li>
                    </ul>
                </div>
                {% for ttt in ttts %}
                    <div class="px-4 py-3">
                        <h4 style="padding-bottom:10px;">{{ ttt.name }}</h4>
                        <div class="container">
                            {% for tt in ttt.ticket_types %}
                                <div class="card" id="card{{ ttt.name }}" style="margin-top:10px;">
                                  <div class="card-body">
                                    <div id="operation2{{ttt.name}}{{ ticket.id }}" style="display:none">
                                        <div class="col-2 d-none d-md-block">
                                            <img style="margin-top:10px;" class="img-ticket-user" height="75" src="{{ url_for('static', filename='images/wor-icon.png') }}" />
                                        </div>
                                        <div class="col-8">
                                            <strong style="font-size:19px;">{{ tt.name }}</strong>
                                            <div style="margin-top:5px;">
                                                <strong class="text-muted">Speaker:</strong> {{ tt.speaker }}
                                            </div>
                                            <div>
                                                <strong class="text-muted">Začiatok:</strong> {{ tt.start }}
                                            </div>
                                        </div>
                                        <div class="col-2 card-button-user" style="padding-top:;">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" onclick="showCardTicket('operation1{{ttt.name}}{{ ticket.id }}', 'main_place{{ttt.name}}{{ ticket.id }}')" class="btn btn-secondary">Zmeniť</button>
                                                    <a href="{{ url_for('user_bp.del_ticket',ticket_id=ticket.id) }}" type="button" style="margin-top:5px;" class="btn btn-danger">Odstrániť</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="operation1{{ttt.name}}{{ ticket.id }}" style="display:none">
                                        <form class="form-inline" action="{{ url_for('user_bp.change_ticket') }}" method="post">
                                          <select style="margin-left:20px;" name="ticket-id" class="form-control" required>
                                              {% for tt in tts %}
                                                {% if ((tt.ticket_type_type.name == ttt.name) and (tt.tickets | length < tt.max_cap)) %}
                                                    <option value="{{ tt.id }}">{{ tt.name  }}</option>
                                                {% endif %}
                                              {% endfor %}
                                          </select>
                                          <input type="hidden" name="original-ticket" value="{{ ticket.id }}" />
                                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                          <div style="margin-top:15px;margin-left:20px;" class="form-check mb-2 mr-sm-2">
                                            <button type="submit" class="btn btn-success mb-2">Zmeniť</button>
                                            <button style="margin-top:-8px;margin-left:5px;" type="button" onclick="showCardTicket('operation2{{ttt.name}}{{ ticket.id }}', 'main_place{{ttt.name}}{{ ticket.id }}')" class="btn btn-secondary">Zrušiť</button>
                                          </div>
                                        </form>
                                    </div>

                                    <div class="row" id="main_place{{ttt.name}}{{ ticket.id }}">
                                        <div class="col-2 d-none d-md-block">
                                            <img style="margin-top:10px;" class="img-ticket-user" height="75" src="{{ url_for('static', filename='images/wor-icon.png') }}" />
                                        </div>
                                        <div class="col-8">
                                            <strong style="font-size:19px;">{{ ticket.ticket_type.name }}</strong>
                                            <div style="margin-top:5px;">
                                                <strong class="text-muted">Speaker:</strong> {{ ticket.ticket_type.speaker }}
                                            </div>
                                            <div>
                                                <strong class="text-muted">Začiatok:</strong> {{ ticket.ticket_type.start }}
                                            </div>
                                        </div>
                                        <div class="col-2 card-button-user" style="padding-top:;">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" onclick="showCardTicket('operation1{{ttt.name}}{{ ticket.id }}', 'main_place{{ttt.name}}{{ ticket.id }}')" class="btn btn-secondary">Zmeniť</button>
                                                    <a href="{{ url_for('user_bp.del_ticket',ticket_id=ticket.id) }}" type="button" style="margin-top:5px;" class="btn btn-danger">Odstrániť</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                  </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="collapse col-12 new-piece" id="new-piece{{ttt.id}}">
                                  <div class="card card-body">
                                    <strong class="" style="padding-bottom:5px;font-size: 18px;">Nový {{ ttt.name }}</strong>
                                    <form class="needs-validation" action="{{ url_for('h_admin_bp.add_piece') }}" method="post" style="margin-top:10px;">
                                      <input oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="50" name="piece-name"  type="text" class="form-control mb-2 mr-sm-2" placeholder="Názov" required>
                                      <input oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="50" name="piece-speaker"  type="text" class="form-control mb-2 mr-sm-2" placeholder="Speaker" required>
                                      <input oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="3" name="piece-cap"  type="number" class="form-control mb-2 mr-sm-2" placeholder="Max. počet" required>
                                      <div class="row">
                                          <label class="col-2" style="font-size:18px;font-style:bold;padding-top:5px;margin-left:5px;"><strong>Čas</strong></label>
                                        <input name="piece-start" style="max-width:90px;"  type="time" class="form-control col-6 mb-2 mr-sm-2" required>
                                      </div>
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <input type="hidden" name="piece-ttt" value="{{ ttt.id }}"/>
                                      <button type="submit" class="btn btn-success float-right">Pridať</button>
                                    </form>
                                  </div>
                                </div>
                           </div>
                            <div class="row">
                                <div style="padding-top:10px;">
                                    <a href="#" id="add-book" class="btn btn-primary utilities-buttons" onclick="moveModal" type="button" data-toggle="collapse" data-target="#new-piece{{ttt.id}}" aria-expanded="false" aria-controls="new-piece{{ttt.id}}">Pridať</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
         function show(param_div_id, main_div) {
          document.getElementById(main_div).innerHTML = document.getElementById(param_div_id).innerHTML;
        }
    </script>
{% endblock content %}