{% extends "layout.html" %}

{% block title %}
    Časť programu: {{ tt.name }}
{% endblock title %}


{% block content %}
    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#data").addClass("active");
		});
	</script>

    <style>

        .book-type-card {
            height:225px;
        }

        @media only screen and (max-width: 700px) {
            .book-list {

                padding-top:15px;
            }
            .book-type-card {
                margin:10px;
                height:260px;
            }
            .utilities-buttons {
                display:none;
            }

            #search-bar {
                margin: auto;
                width: 50%;
                padding: 10px;
                margin-top:35px;
            }
        }

    </style>




    <div class="container" style="padding-top:100px;">
        <div class="row">
            <div class="card book-type-card col-md-4 col-lg-4 col-sm-12 col-xs-12" >
              <div class="card-body">

                <div id="main_place">
                    <h3 class="card-title" >{{ tt.name }}</h3>
                    <div>
                        <div>
                            <h6 class="text-muted" style="margin-top:-7px;">{{ tt.speaker }}</h6>
                        </div>
                        <div style="padding-top:3px;">
                            <strong>Potvrdených:</strong>
                            <label>{{ confirmed_users }}</label>
                        </div>
                        <div style="margin-top:-8px;">
                            <strong>Aktuálnych: </strong>
                            <label>{{ tt.users | length }}</label>
                        </div>
                        <div style="margin-top:-8px;">
                            <strong>Celkovo: </strong>
                            <label>{{ tt.tickets | length }}</label>
                        </div>
                    </div>
                </div>

              </div>
            </div>
            <div id="book-list" class="book-list col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div  id="book-list2">
                    <input placeholder="Vyhľadať users" type="text" class="form-control" style="width:200px;" id="live-search-box">
                </div>

                <div class="container" style="padding-top:10px;">
                <table class="table" id="books-table">
                  <thead class="thead-dark">
                    <tr class="header">
                      <th scope="col">#</th>
                      <th scope="col">Meno</th>
                      <th scope="col">Email</th>
                      <th scope="col">Vek</th>
                      <th scope="col">OTP</th>
                      <th scope="col">Zobraziť</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ticket in tt.tickets %}
                        {% if ticket.user.active_places %}
                            <tr class="table-success">
                              <th scope="row">{{ ticket.user.id }}</th>
                              <td class="search-term">{{ ticket.user.name }}</td>
                              <td>{{ ticket.user.email }}</td>
                              <td>{{ ticket.user.age }}</td>
                              <td>
                                  {% if ticket.user.otp == "očkovaný proti ochoreniu COVID a budem to vedieť preukázať."%}
                                    O
                                  {% elif ticket.user.otp == "testovaný na ochorenie COVID a budem to vedieť preukázať." %}
                                    T
                                  {% else %}
                                    P
                                  {% endif %}
                              </td>
                              <td>
                                  <a href="{{ url_for('admin_bp.admin_user_page', user_id=ticket.user.id) }}" class="btn btn-sm btn-info">Zobraziť</a>
                              </td>
                            </tr>
                        {% elif ticket.user.confirm %}
                            <tr class="table-warning">
                              <th scope="row">{{ ticket.user.id }}</th>
                              <td class="search-term">{{ ticket.user.name }}</td>
                              <td>{{ ticket.user.email }}</td>
                              <td>{{ ticket.user.age }}</td>
                              <td>
                                  {% if ticket.user.otp == "očkovaný proti ochoreniu COVID a budem to vedieť preukázať."%}
                                    O
                                  {% elif ticket.user.otp == "testovaný na ochorenie COVID a budem to vedieť preukázať." %}
                                    T
                                  {% else %}
                                    P
                                  {% endif %}
                              </td>
                              <td>
                                  <a href="{{ url_for('admin_bp.admin_user_page', user_id=ticket.user.id) }}" class="btn btn-sm btn-info">Zobraziť</a>
                              </td>
                            </tr>
                        {% else %}
                            <tr class="table-danger">
                              <th scope="row">{{ ticket.user.id }}</th>
                              <td class="search-term">{{ ticket.user.name }}</td>
                              <td>{{ ticket.user.email }}</td>
                              <td>{{ ticket.user.age }}</td>
                              <td>
                                  {% if ticket.user.otp == "očkovaný proti ochoreniu COVID a budem to vedieť preukázať."%}
                                    O
                                  {% elif ticket.user.otp == "testovaný na ochorenie COVID a budem to vedieť preukázať." %}
                                    T
                                  {% else %}
                                    P
                                  {% endif %}
                              </td>
                              <td>
                                  <a href="{{ url_for('admin_bp.admin_user_page', user_id=ticket.user.id) }}" class="btn btn-sm btn-info">Zobraziť</a>
                              </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                  </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>






    <script>
        $(document).ready(function(){
          $("#live-search-box").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#books-table tr:not(.header)").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });


    </script>
{% endblock content %}