{% extends "layout.html"%}

{% block title %}
    Konto usera {{ user.name }}
{% endblock title%}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
{% endblock head %}


{% block content %}

    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#registration").addClass("active");
		});
	</script>

    <style>
        #qrcode {
          width: 300px;
          height: 300px;
          margin-top: 15px;
        }

        @media only screen and (max-width: 750px) {
            .user-card {
              margin:10px;
              //margin-top:-90px;
            }
            .user-tickets {
                margin-top:60px;
            }
            .card-button-user {
                margin-right:20px;
            }
          }


    </style>

    <input id="text" type="hidden" value="{{ user.code }}" style="width:80%" /><br />


        <div class="container" style="">
        <div class="row">
            <div class="card user-card col-md-4 col-lg-4 col-sm-12 col-xs-12" style="height:185px;">
              <div class="card-body">
                <div id="main_place">
                    <h3 class="card-title">{{ user.name | truncate(13) }}</h3>
                    <div>
                        <strong>Email:</strong>
                        {{ user.email }}
                    </div>
                    <div>
                        <strong>Mesto:</strong>
                        {{ user.city }}
                    </div>
                    <div>
                        <strong>Kde bol:</strong>
                        <a href="#showPlaces" data-toggle="modal" data-target="#showPlaces">Zobraziť</a>
                    </div>
                    <div style="padding-top:10px;">
                        <a href="#settingModal" data-toggle="modal" data-target="#settingModal">Upraviť profil</a>
                    </div>

                </div>
              </div>
              <div style="margin-top:10px;" class="d-flex justify-content-center">
                    <button id="add-book" class="btn btn-primary utilities-buttons" onclick="moveModal" data-toggle="modal" data-target="#showQRCode">
	                   Zobraziť QR kód
	                </button>
                        <button onclick="downloadQR()" id='qrdl' type="button" style="margin-left:5px;" class="btn btn-info utilities-buttons">
                          Stiahnúť QR kód
                        </button>
               </div>


            </div>
            <div id="book-list" style="" class="user-tickets col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div  id="book-list2">
                </div>
                <h4 style="padding-top:20px;" class="text-strong"><strong>Tvoj Program:</strong></h4>
                <div>
                    {% for ttt in ttts %}
                        <h5 style="margin-top:40px;" class="text-muted">{{ ttt.name }}:</h5>
                        {% for ticket in user.tickets %}
                            {% if ticket.ticket_type.ticket_type_type == ttt %}

                                <div class="card" id="card{{ ttt.id }}" style="margin-top:10px;">
                                  <div class="card-body">
                                    <div id="operation2{{ttt.name}}{{ ticket.id }}" style="display:none">
                                        <div class="col-2 d-none d-md-block">
                                            <img style="margin-top:10px;" class="img-ticket-user" height="75" src="{{ url_for('static', filename='images/wor-icon.png') }}" />
                                        </div>
                                        <div class="col-8">
                                            <strong style="font-size:19px;">{{ ticket.ticket_type.name }}</strong>
                                            <div style="margin-top:5px;">
                                                <strong class="text-muted">Speaker:</strong> {{ ticket.ticket_type.speaker }}
                                            </div>
                                            <div>
                                                <strong class="text-muted">Začiatok:</strong> {{ ticket.ticket_type.start.strftime('%H:%M') }}
                                            </div>
                                        </div>
                                        <div class="col-2 card-button-user" style="padding-top:;">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" onclick="showCardTicket('operation1{{ttt.name}}{{ ticket.id }}', 'main_place{{ttt.name}}{{ ticket.id }}')" class="btn btn-secondary">Zmeniť</button>
                                                    <a href="{{ url_for('admin_bp.del_ticket', user_id=user.id,ticket_id=ticket.id) }}" type="button" style="margin-top:5px;" class="btn btn-danger">Odstrániť</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="operation1{{ttt.name}}{{ ticket.id }}" style="display:none">
                                        <form class="form-inline" action="{{ url_for('admin_bp.change_ticket', user_id=user.id) }}" method="post">
                                          <select style="margin-left:20px;" name="ticket-id" class="form-control" required>
                                              {% for tt in tts %}
                                                {% if ((tt.ticket_type_type.name == ttt.name) and (tt.tickets | length < tt.max_cap)) %}
                                                    <option value="{{ tt.id }}">{{ tt.name  }}  ({{ tt.speaker }})</option>
                                                {% endif %}
                                              {% endfor %}
                                          </select>
                                          <input type="hidden" name="original-ticket" value="{{ ticket.id }}" />
                                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                          <div style="margin-top:15px;margin-left:20px;" class="form-check mb-2 mr-sm-2">
                                            <button type="submit" class="btn btn-success mb-2">Zmeniť</button>
                                            <button style="margin-top:-8px;margin-left:5px;" type="button" onclick="showCardTicket('operation2{{ttt.name}}{{ ticket.id }}', 'main_place{{ttt.name}}{{ ticket.id }}')" class="btn btn-secondary">Zrušiť</button>
                                          </div>
                                        </form>
                                    </div>

                                    <div class="row" id="main_place{{ttt.name}}{{ ticket.id }}">
                                        <div class="col-2 d-none d-md-block">
                                            <img style="margin-top:10px;" class="img-ticket-user" height="75" src="{{ url_for('static', filename='images/wor-icon.png') }}" />
                                        </div>
                                        <div class="col-8">
                                            <strong style="font-size:19px;">{{ ticket.ticket_type.name }}</strong>
                                            <div style="margin-top:5px;">
                                                <strong class="text-muted">Speaker:</strong> {{ ticket.ticket_type.speaker }}
                                            </div>
                                            <div>
                                                <strong class="text-muted">Začiatok:</strong> {{ ticket.ticket_type.start.strftime('%H:%M') }}
                                            </div>
                                        </div>
                                        <div class="col-2 card-button-user" style="padding-top:;">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" onclick="showCardTicket('operation1{{ttt.name}}{{ ticket.id }}', 'main_place{{ttt.name}}{{ ticket.id }}')" class="btn btn-secondary">Zmeniť</button>
                                                    <a href="{{ url_for('admin_bp.del_ticket',user_id=user.id, ticket_id=ticket.id) }}" type="button" style="margin-top:5px;" class="btn btn-danger">Odstrániť</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                  </div>
                                </div>
                            {% else %}

                            {% endif %}
                        {% endfor %}
                        <div class="row">
                                    <div class="collapse col-12 new-piece" style="padding-top:10px;" id="new-piece{{ ttt.id }}">
                                      <div class="card card-body w-75">
                                        <form class="form-inline" action="{{ url_for('admin_bp.add_ticket', user_id=user.id) }}" method="post">
                                          <select id="selectTTT{{ ttt.id }}" name="ticket-id" class="form-control" required>
                                              {% for tt in tts %}
                                                {% if ((tt.ticket_type_type.name == ttt.name) and (tt.tickets | length < tt.max_cap)) %}
                                                    <option value="{{ tt.id }}">{{ tt.name  }} ({{ tt.speaker }})</option>
                                                {% endif %}
                                              {% endfor %}
                                          </select>
                                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                          <div style="margin-top:15px;margin-left:20px;" class="form-check mb-2 mr-sm-2">
                                            <button type="submit" class="btn btn-success mb-2">Pridať</button>
                                          </div>
                                        </form>

                                      </div>
                                    </div>
                               </div>
                                <div class="row d-none" id="button{{ ttt.id }}">
                                    <div id="buttonToAdd{{ ttt.id }}" style="padding-top:10px;padding-left:30px;padding-bottom:10px;">
                                        <a href="#" id="add-user" class="btn btn-primary utilities-buttons" onclick="moveModal" type="button" data-toggle="collapse" data-target="#new-piece{{ ttt.id }}" aria-expanded="false" aria-controls="new-piece{{ttt.id}}">Pridať</a>
                                    </div>
                                </div>
                                <div class="row d-none" id="showNoneFree{{ ttt.id }}">
                                    <div style="padding-top:10px;padding-left:30px;">
                                        <p>Žiadne ďaľšie voľné miesta</p>
                                    </div>
                                </div>
                                <script>
                                        var myEle = document.getElementById("card{{ ttt.id }}");

                                        if (document.getElementById("selectTTT{{ ttt.id }}").options[0]) {

                                        } else {
                                            if(myEle){

                                            } else {
                                                var elementSpecial = document.getElementById("showNoneFree{{ ttt.id }}");
                                                elementSpecial.classList.remove("d-none");
                                            }
                                            document.getElementById('buttonToAdd{{ ttt.id }}').style.display = 'none';
                                        }


                                        if(myEle){
                                            if (myEle.id === "card4"){
                                                var element = document.getElementById("button{{ ttt.id }}");
                                                element.classList.remove("d-none");
                                            }
                                        } else {
                                            var element = document.getElementById("button{{ ttt.id }}");
                                            element.classList.remove("d-none");
                                        }
                                </script>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:150px;" class="d-flex justify-content-center">
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteUser">Odstrániť usera</button>
    </div>
    <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upravenie profilu</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" id="userSettings" action="{{ url_for('admin_bp.change_profile', user_id=user.id) }}" method="post" novalidate>
              <div class="form-group">
                <label >Meno:</label>
                <input type="text" name="user-name" class="form-control" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="30" value="{{ user.name }}" required>
              </div>
              <div class="form-group">
                <label >Vek:</label>
                <input type="number" name="user-age" class="form-control" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="3" value="{{ user.age }}" required>
              </div>
              <div class="form-group">
                <label >Email:</label>
                <input type="email" name="user-email" class="form-control" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="30" value="{{ user.email }}" required>
                  <div class="invalid-feedback">
                      Zadajte platnú emailovú adresu
                  </div>
              </div>
              <div class="form-group">
                <label >Mesto:</label>
                <input type="text" name="user-city" class="form-control" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="30" value="{{ user.city }}" required>
              </div>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
            <button type="submit" form="userSettings" class="btn btn-primary">Uložiť zmeny</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="showQRCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header d-block">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title text-center" id="exampleModalLongTitle">Váš lístok na festival</h5>

          </div>
          <div class="modal-body d-block d-flex justify-content-center">
            <div class="text-center d-block d-flex justify-content-center"></div>
                <canvas id="qrcode" class="qrcode"></canvas>
          </div>
          <div style="padding-bottom:10px;" class="text-center d-block d-flex justify-content-center">
                <strong>Pred festivalom sa ujistite že máte lístok stiahnutý</strong>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="showPlaces" tabindex="-1" role="dialog" aria-labelledby="showPlacesTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header d-block">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title text-center" id="showPlacesTitle">{{ user.name }} aktivity:</h5>

          </div>
          <div class="modal-body ">
            <h6>Uživateľ bol na týchto miestach:</h6>
            <ul style="padding-top:20px;">
                {% for place in user.active_places %}
                    <li><strong>{{ place.name }}</strong></li>
                {% endfor %}
            </ul>
          </div>
          <div style="padding-bottom:10px;" class="text-center d-block d-flex justify-content-center">

            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteUserLabel">Naozaj odstrániť usera ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Naozaj odstrániť usera {{ user.name }} ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
            <a href="{{ url_for('admin_bp.delete_user',user_id=user.id) }}" class="btn btn-danger">Odstrániť</a>
          </div>
        </div>
      </div>
    </div>
    <script>
        const makeQR = (url, filename) => {
          let qrcodeContainer = document.getElementById("qrcode");
            qrcodeContainer.innerHTML = "";
            new QRious({
              element: qrcodeContainer,
              value: '{{ user.code }}',
              size: 300,
              padding:50,
            });
            {% if after_reg %}
                var link = document.createElement('a');
                link.download = 'Tvoj-listok-UTT-festival.png';
                link.href = document.getElementById('qrcode').toDataURL()
                link.click();
            {% endif %}


        }

        function downloadQR() {
            var link = document.createElement('a');
            link.download = 'Uciaca-sa-trnava-ticket.png';
            link.href = document.getElementById('qrcode').toDataURL()
            link.click();
        }

        makeQR(document.querySelector('#text').value, 'qr-code.png')

        function showCardTicket(param_div_id, main_div) {
          document.getElementById(main_div).innerHTML = document.getElementById(param_div_id).innerHTML;
        }

        function generateQRCode() {

            let qrcodeContainer = document.getElementById("qrcode");
            qrcodeContainer.innerHTML = "";
            new QRious({
              element: qrcodeContainer,
              value: '{{ user.code }}',
              size: 128,
            });


        }

        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

    </script>
{% endblock content %}
