<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="robots" content="noodp, max-image-preview:large">

    {% block head %}{% endblock head%}

    <!-- TITLE INFO -->
    <title>{% block title %}{% endblock title%}</title>

	<!-- FAVICON -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- CSS -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
	{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
			{% for category,message in messages %}
				<div style="margin:10px;" class="alert alert-{{category}}">
					{{message}}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">
		  <img style="margin-left:20px;" src="{{ url_for('static',filename='images/festival-logo.png') }}" height="55" />
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav mr-auto">
			<li class="links-items nav-item">
	      		<a class="nav-item nav-link" target="_blank" href="https://www.uciacasatrnava.sk/">Festival</a>
	        </li>
		  	{% if current_user.is_authenticated %}
				{% if "permit" in session %}
			  		<li class="links-items nav-item">
	      				<a class="nav-link" href="{{ url_for('admin_bp.check_tickets_view') }}">Kontrola lístkov</a>
	        		</li>
			  		<li class="links-items nav-item">
						<a class="nav-link" href="#">Registrácia</a>
	        		</li>
			  		{% if session["permit"] == 1 %}
						<li class="links-items nav-item">
							<a class="nav-link" href="#">Štatistiky</a>
	        			</li>
			  			<li class="links-items nav-item">
							<a id="operations" class="nav-link" href="{{ url_for('h_admin_bp.operations') }}">Operácie</a>
	        			</li>
			  		{% endif %}
			  	{% else %}
			  		<li class="links-items nav-item">
	      				<a id="account" class="nav-link" href="{{ url_for('user_bp.user_page') }}">Tvoje Konto</a>
	        		</li>
			    {% endif %}
		  	{% endif %}
		  </ul>

		  {% if current_user.is_authenticated %}
            <a class="btn btn-secondary" style="margin-right:30px;" id="sign_out" href="{{ url_for('user_bp.sign_out') }}">Odhlásiť sa</a>
          {% else %}
		  	<a type="button" style="margin-right:10px;" class="btn btn-outline-primary" href="{{ url_for('user_bp.sign_up_view') }}">Registrovať sa</a>
            <a class="btn btn-success" style="margin-right:30px;" id="sign_in" href="{{ url_for('user_bp.sign_in_view') }}">Prihlásiť sa</a>
          {% endif %}
		  <i class="bi bi-github"></i>

	  </div>
	</nav>

	<main class="content">
    	{% block content %}
    	{% endblock content %}
	</main>
    <footer class="footer" style="margin-top:150px;">
	      <div id="footer-lop" >
	      <!-- Footer Links -->
	      <div class="container">
	        <!-- Grid row-->
	        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
	          <!-- Grid column -->
	          <div class="col-md-2 mb-3">
	            <h6 class="text-uppercase font-weight-bold">
	              <a target="_blank" href="https://www.uciacasatrnava.sk/domov/">O nás</a>
	            </h6>
	          </div>
	          <!-- Grid column -->
	          <!-- Grid column -->
	          <div class="col-md-2 mb-3">
	            <h6 class="text-uppercase font-weight-bold">
	              <a target="_blank" href="https://youtu.be/dQw4w9WgXcQ">Pomoc</a>
	            </h6>
	          </div>
	          <!-- Grid column -->

	          <!-- Grid column -->
	    		<div class="col-md-2 mb-3">
	        	    <h6 class="text-uppercase font-weight-bold">
	        	      <a href="https://github.com/pravoslavzilka/Book-Share">Kontakt</a>
	        	    </h6>
	        	  </div>
	        	</div>
	        <!-- Grid row-->
	    	  <div style="padding-bottom:10px;" class="col-md-12 mb-9">
	    	  	<div class="text-muted policy-terms" style="text-align: center;">
	    			<a style="text-decoration:none;" class="text-muted" href="#">Privacy Policy</a>
	    			<label >|</label>
	    			<a style="text-decoration:none;" class="text-muted" href="#">Terms of use</a>
	    			<label >|</label>
	    			<a style="text-decoration:none;" class="text-muted" href="#">Cookies Policy</a>
	    	  	</div>
	    	  </div>
	      <!-- Copyright -->
	    	  <div style="text-align: center;color:#525252;">
	    	  	<label >&copy; Lifestarter</label>
	    	  </div>
	      </div>
	      <!-- Copyright -->
	    </div>
	</footer>
</body>
</html>
