{% extends "layout.html"%}

{% block title %}
    Vaše Konto
{% endblock title%}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
{% endblock head %}


{% block content %}

    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#account").addClass("active");
		});
	</script>

    <style>
        #qrcode {
          width: 300px;
          height: 300px;
          margin-top: 15px;
        }

        @media only screen and (max-width: 750px) {
            .user-card {
              margin:10px;
              //margin-top:-90px;
            }
            .user-tickets {
                margin-top:60px;
            }
            .card-button-user {
                margin-right:20px;
            }
          }


    </style>

    <input id="text" type="hidden" value="{{ user.code }}" style="width:80%" /><br />


        <div class="container" style="">
        <div class="row">
            <div class="card user-card col-md-4 col-lg-4 col-sm-12 col-xs-12" style="height:150px;">
              <div class="card-body">
                <div id="main_place">
                    <h3 class="card-title">{{ user.name | truncate(13) }}</h3>
                    <div>
                        <strong>Email:</strong>
                        {{ user.email }}
                    </div>
                    <div>
                        <strong>Mesto:</strong>
                        {{ user.city }}
                    </div>

                </div>
              </div>
              <div style="margin-top:30px;" class="d-flex justify-content-center">
                    <button id="add-book" class="btn btn-primary utilities-buttons" onclick="moveModal" data-toggle="modal" data-target="#showQRCode">
	                   Zobraziť QR kód
	                </button>
                        <button onclick="downloadQR()" id='qrdl' type="button" style="margin-left:5px;" class="btn btn-info utilities-buttons">
                          Stiahnúť QR kód
                        </button>
               </div>


            </div>
            <div id="book-list" style="" class="user-tickets col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div  id="book-list2">
                </div>

                <h4 style="padding-top:0px;" class="text-strong"><strong>Tvoj Program:</strong></h4>
                <div>
                    {% for ttt in ttts %}
                        <h5 style="margin-top:40px;" class="text-muted">{{ ttt.name }}:</h5>
                        {% for ticket in user.tickets %}
                            {% if ticket.ticket_type.ticket_type_type == ttt %}

                                <div class="card" id="card{{ ttt.id }}" style="margin-top:10px;">
                                  <div class="card-body">


                                    <div class="row" id="main_place{{ttt.name}}{{ ticket.id }}">
                                        <div class="col-2 d-none d-md-block">
                                            <img style="margin-top:10px;" class="img-ticket-user" height="75" src="{{ url_for('static', filename='images/wor-icon.png') }}" />
                                        </div>
                                        <div class="col-8">
                                            <strong style="font-size:19px;">{{ ticket.ticket_type.name }}</strong>
                                            <div style="margin-top:5px;">
                                                <strong class="text-muted">Speaker:</strong> {{ ticket.ticket_type.speaker }}
                                            </div>
                                            <div>
                                                <strong class="text-muted">Začiatok:</strong> {{ ticket.ticket_type.start.strftime('%H:%M') }}
                                            </div>
                                        </div>
                                        <div class="col-2 card-button-user" style="padding-top:;">
                                            <div class="row">

                                            </div>

                                        </div>
                                    </div>
                                  </div>
                                </div>
                            {% else %}

                            {% endif %}
                        {% endfor %}
                                <div class="row d-none" id="showNoneFree{{ ttt.id }}">
                                    <div style="padding-top:10px;padding-left:30px;">
                                        <p>Žiadny vybratý program</p>
                                    </div>
                                </div>
                                <script>
                                        var myEle = document.getElementById("card{{ ttt.id }}");




                                            if(myEle){

                                            } else {
                                                var elementSpecial = document.getElementById("showNoneFree{{ ttt.id }}");
                                                elementSpecial.classList.remove("d-none");
                                            }




                                        if(myEle){
                                            if (myEle.id === "card4"){
                                                var element = document.getElementById("button{{ ttt.id }}");
                                                element.classList.remove("d-none");
                                            }
                                        } else {
                                            var element = document.getElementById("button{{ ttt.id }}");
                                            element.classList.remove("d-none");
                                        }
                                </script>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showQRCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header d-block">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title text-center" id="exampleModalLongTitle">Váš lístok na festival</h5>

          </div>
          <div class="modal-body d-block d-flex justify-content-center">
            <div class="text-center d-block d-flex justify-content-center"></div>
                <canvas id="qrcode" class="qrcode"></canvas>
          </div>
          <div style="padding-bottom:10px;" class="text-center d-block d-flex justify-content-center">
                <strong>Pred festivalom sa ujistite že máte lístok stiahnutý</strong>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        const makeQR = (url, filename) => {
          let qrcodeContainer = document.getElementById("qrcode");
            qrcodeContainer.innerHTML = "";
            new QRious({
              element: qrcodeContainer,
              value: '{{ user.code }}',
              size: 600,
              padding:50,
            });
            {% if after_reg %}
                var link = document.createElement('a');
                link.download = 'Tvoj-listok-UTT-festival.png';
                link.href = document.getElementById('qrcode').toDataURL()
                link.click();
            {% endif %}


        }

        function downloadQR() {
            var link = document.createElement('a');
            link.download = 'Uciaca-sa-trnava-ticket.png';
            link.href = document.getElementById('qrcode').toDataURL()
            link.click();
        }

        makeQR(document.querySelector('#text').value, 'qr-code.png')

        function showCardTicket(param_div_id, main_div) {
          document.getElementById(main_div).innerHTML = document.getElementById(param_div_id).innerHTML;
        }

        function generateQRCode() {

            let qrcodeContainer = document.getElementById("qrcode");
            qrcodeContainer.innerHTML = "";
            new QRious({
              element: qrcodeContainer,
              value: '{{ user.code }}',
              size: 128,
            });


        }

        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

    </script>
{% endblock content %}
